<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal m-t" id="signupForm">
                <div class="form-group">
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
                <div class="ibox">
                <div class="ibox-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-file-text"></i>General</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i>Data</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-briefcase"></i>Additional Images</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#tab-4"><i class="fa fa-briefcase"></i>Fancy Design</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">

                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab-1">
                            <input id="userId" name="userId" type="hidden">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Title：</label>
                                <div class="col-sm-8">
                                    <input id="name" name="name" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Main Picture：</label>
                                <div class="col-sm-8">
                                    <button type="button" class="layui-btn" id="imageFile">
                                        <i class="fa fa-cloud"></i> Upload File
                                    </button>
                                    <input id="picture" name="picture" class="form-control"
                                           type="hidden" value="">
                                    <img src="" id="uploadPic" style="display:none;width:100px;height:100px;"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Category：</label>
                                <div class="col-sm-8">
                                    <input id="catalogId" name="catalogId" class="hidden"> <input
                                        id="categoryName" name="categoryName" class="form-control" type="text"
                                        style="cursor: pointer;" onclick="openCategory()"
                                        readonly="readonly" placeholder="Choose a category">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Price：</label>
                                <div class="col-sm-8">
                                    <input id="price" name="price" class="form-control"
                                           type="number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Sale Price：</label>
                                <div class="col-sm-8">
                                    <input id="nowPrice" name="nowPrice" class="form-control"
                                           type="number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">isRecommend:</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline"> <input type="radio"
                                                                        name="isRecommend" value="1" /> Yes
                                    </label> <label class="radio-inline"> <input type="radio"
                                                                                 name="isRecommend" value="0" /> No
                                </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">isNew:</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline"> <input type="radio"
                                                                        name="isnew" value="y" /> Yes
                                    </label> <label class="radio-inline"> <input type="radio"
                                                                                 name="isnew" value="n" /> No
                                </label>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-2">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Introduce：</label>
                                <div class="col-sm-8">
                                    <input id="introduce" name="introduce" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Description：</label>
                                <div class="col-sm-8">
                                    <input id="description" name="description" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="bottleInfo" name="bottleInfo" type="hidden"/>
                                <label
                                        class="col-sm-1 control-label">Bottle Content：</label>
                                <div class="col-sm-11">
                                    <div class="ibox-content no-padding">
                                        <input id="content_bottle" class="summernote">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="labelInfo" name="labelInfo" type="hidden"/>
                                <label
                                        class="col-sm-1 control-label">Label Content：</label>
                                <div class="col-sm-11">
                                    <div class="ibox-content no-padding">
                                        <input id="content_label" class="summernote">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="content" name="content" type="hidden">
                                <label
                                    class="col-sm-1 control-label">Content：</label>
                                <div class="col-sm-11">
                                    <div class="ibox-content no-padding">
                                        <div id="content_sn" class="summernote"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-3">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Carousel Picture 1：</label>
                                <div class="col-sm-4">
                                    <button type="button" class="layui-btn" id="addImg1">
                                        <i class="fa fa-cloud"></i> Choose File
                                    </button>
                                    <input id="additionalImg1" name="additionalImg1" class="form-control"
                                           type="hidden" value="">
                                    <img src="" id="uploadImg1" style="display:none;width:100px;height:100px;"/>
                                </div>
                                <label class="col-sm-2 control-label">Carousel Picture 2：</label>
                                <div class="col-sm-4">
                                    <button type="button" class="layui-btn" id="addImg2">
                                        <i class="fa fa-cloud"></i> Choose File
                                    </button>
                                    <input id="additionalImg2" name="additionalImg2" class="form-control"
                                           type="hidden" value="">
                                    <img src="" id="uploadImg2" style="display:none;width:100px;height:100px;"/>
                                </div>
                            </div>
                            <!--<div class="form-group">-->

                            <!--</div>-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Carousel Picture 3：</label>
                                <div class="col-sm-4">
                                    <button type="button" class="layui-btn" id="addImg3">
                                        <i class="fa fa-cloud"></i> Choose File
                                    </button>
                                    <input id="additionalImg3" name="additionalImg3" class="form-control"
                                           type="hidden" value="">
                                    <img src="" id="uploadImg3" style="display:none;width:100px;height:100px;"/>
                                </div>
                                <label class="col-sm-2 control-label">Carousel Picture 4：</label>
                                <div class="col-sm-4">
                                    <button type="button" class="layui-btn" id="addImg4">
                                        <i class="fa fa-cloud"></i> Choose File
                                    </button>
                                    <input id="additionalImg4" name="additionalImg4" class="form-control"
                                           type="hidden" value="">
                                    <img src="" id="uploadImg4" style="display:none;width:100px;height:100px;"/>
                                </div>
                            </div>
                            <!--<div class="form-group">-->

                            <!--</div>-->
                        </div>
                        <div class="tab-pane fade" id="tab-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Fancy Template：</label>
                                <div class="col-sm-8">
                                    <button type="button" class="layui-btn" id="fancyImage">
                                        <i class="fa fa-cloud"></i> Choose File
                                    </button>
                                    <input id="fancyImg" name="fancyImg" class="form-control"
                                           type="hidden" value="">
                                    <img src="" id="uploadFancyImg" style="display:none;width:100px;height:100px;"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<link href="/css/layui.css" rel="stylesheet">
<script src="/js/plugins/layer/layer.min.js"></script>
<script src="/js/layui.js"></script>
<script type="text/javascript" src="/js/appjs/product/product/add.js">
</script>
</body>
</html>
