<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swift.dao.product.ShipInfoDao">

    <select id="get" resultMap="shipInfoResultMap">
        select
        * from t_ship_info
        where order_id = #{value}
    </select>

    <select id="getEmail" resultMap="shipInfoResultMap">
      select id,email, order_id from t_ship_info where isEmail=0 limit 1
    </select>

    <update id="updateIsEmail">
        update t_ship_info set isEmail=1 where id=#{value}
    </update>

    <resultMap id="shipInfoResultMap" type="com.swift.core.domain.product.ShipInfoDO">
        <result property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="account" column="account"/>
        <result property="country" column="country"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="region" column="region"/>
        <result property="optional" column="optional"/>
        <result property="city" column="city"/>
        <result property="postCode" column="postCode"/>
        <result property="email" column="email"/>
        <result property="surName" column="surname"/>
        <result property="firstName" column="firstname"/>
    </resultMap>
</mapper>